body {
	margin: 0;
	padding: 0;
	text-align: left;
    background-color: #1d1f1e;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
div {	margin: 0; padding: 0; }
div.clear { clear: both;}
div.body {
    width: 420px;
    margin: 0 auto 0;
    position: relative;
}
div.white {background-color: #fcf9f4; color: #1d1f1e;}
div.black {background-color: #1d1f1e; color: #fcf9f4;}
div.red {background-color: #f06057; color: #fcf9f4;}
div.green {background-color: #577f65;}
div.blue {background-color: #5794f0; color: #fcf9f4;}
div.memoryContainer {
    width: 380px;
    height: 122px;
    padding: 20px 20px 0;
    background-color: #fcf9f4;
}
div.memoryContainer.open {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding-top: 45px;
    padding-bottom: 25px;
    overflow: auto;
}
div.memory {
    width: 380px;
    height: 120px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 380px;
    grid-template-rows: minmax(0, 40px);
    align-content: flex-end;
    justify-content: flex-end;
    background-color: #fcf9f4;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}
div.memoryContainer.open .memory {
    height: auto;
    overflow: auto;
}
div.memoryContainer .nav {
    height: 0px;
    display: none;
}
div.memoryContainer.open .nav {
    position: absolute;
    left: 20;
    top: 0;
    height: 40px;
    width: 380px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 190px 190px;
    justify-content: space-around;
}
div.memoryContainer .nav span{
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
}
div.memoryContainer .nav span:hover{
    text-decoration: underline;
}
div.memoryContainer .nav #clearMem {
    color: #f06057;
    border-color: #f06057;
    text-align: left;
}
div.memoryContainer .nav #close {
    color: #5794f0;
    border-color: #5794f0;
    text-align: right;
}
div.memory .workOp {
    display: flex;
    flex-wrap: wrap;
    width: 380px;
    grid-column: 1 / 2;
    align-content: flex-end;
    justify-content: flex-end;
}
div.memory span {
    height: 40px;
    font-size: 18px;
    line-height: 36px;
    display: inline-block;
}
div.memory .workOp span.num {
    color: #666666;
}
div.memory .workOp span.op {
    color: #f06057;
    margin: 0 10px 0;
}
div.memory .workOp span.eq {
    color: #5794f0;
    margin: 0 10px 0;
}
div.memory .workOp span.an {
    color: #1d1f1e;
}
div.memory .workOp span.lastAn { width: 0px; }
div.memory .workAn {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: 380px;
    grid-column: 1/2;
    height: 40px;
    font-size: 18px;
    line-height: 36px;
    color: #1d1f1e;
}
div.memory .old {
    height: 0px;
    overflow: hidden;
}
div.display {
    height: 60px;
    width: 380px;
    padding: 10px 20px 15px;
    border-radius: 0 0 5px 5px;
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content:  flex-end;
    background-color: #fcf9f4;
    margin-bottom: 20px;
    font-size: 48px;
    line-height: 60px;
    box-shadow: inset 0 -5px 5px -3px rgba(0,0,0,0.33);
}
span#zero {color: #666666}
div.display .int { }
div.display .float { }
div.display .dec { }
div.display .sign { width: 20px; }
div.display .spacer { width: 15px; }
div.controlsContainer {
    height: 320px;
    width: 400px;
    padding: 10px 10px 20px;
    border-radius: 5px 5px 20px 20px;
    overflow: hidden;
    box-shadow: inset 0 5px 5px -3px rgba(0,0,0,0.33), inset 0 -3px 3px 0 rgba(0,0,0,0.16);
}
div.controls {
    height: 320px;
    width: 400px;    
    display: grid;
    grid-template-columns: repeat(5, 80px);
    grid-template-rows: repeat(4, 80px);
}
div.button {
    width: 30px;
    height: 30px;
    padding: 15px;
    margin: 10px;
    border-radius: 30px;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    box-shadow: inset 0 5px 5px -3px rgba(255,255,255,0.33), inset 0 -3px 3px 0 rgba(0,0,0,0.16);
    cursor: pointer;
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
div.button.active {
    box-shadow: inset 0 -5px 5px -3px rgba(255,255,255,0.25), inset 0 3px 3px 0 rgba(0,0,0,0.33);    
}